<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.BlogMapper">


    <select id="queryVoucherOfShop" resultType="com.ljh.entity.Blog">


        SELECT * FROM tb_blog WHERE update_time >= DATE(NOW()) - INTERVAL 5 DAY ORDER BY update_time ASC


    </select>
</mapper>
